[user]
    name = Fumihiko Shiroyama
    email = fu.shiroyama@gmail.com
[core]
    editor = vim -c \"set fenc=utf-8\"
    pager = lv -c
[color]
    ui = true
[alias]
    co = checkout
    st = status
    ci = commit
    df = diff
    br = branch
    ad = add
    lo = log
