[user]
    name = Fumihiko Shiroyama
	email = shiroyaf@amazon.com
[core]
    editor = vim -c \"set fenc=utf-8\"
    pager = lv -c
[color]
    ui = true
[alias]
    co = checkout
    st = status
    ci = commit
    df = diff
    br = branch
    ad = add
    lo = log
    ps = push

[remote "pr"]
    url = git@github.com:Nikkei/seamless-paper-viewer-android.git
    fetch = +refs/pull/*:refs/remotes/pr/*
[diff]
	compactionHeuristic = true

# [credential]
# 	helper = !aws codecommit credential-helper $@
# 	UseHttpPath = true
